.generation {
    max-width: 150px;
    background: transparent;
    border-style: none;
    font-family: $muli;
    font-size: 18px;
    position: absolute;
    right: 150px;
}

.clear{
    clear: both;
}