//fonts
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500;600;700&display=swap');

// Font Variables
$muli: 'Muli', sans-serif;   

//colors 
$white: #F3F3F3;
$background: #DEDEDE;
$red: #DC0A2D;
$black: #000000;
$orange: #EF5350;

//border 
$borderBlack: solid 2px $black