.pokelist-container{
    background: $white;
    height: 70vh;
    margin: 1% 3%;
    border: $borderBlack;
    border-radius: 10px;
    overflow:hidden; 
    overflow-y:scroll;

    div {
        margin-top: 20px;

        display: flex;
        align-items: center;
    }

    ul{
        padding: 2%;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));

        li{
            font-family: $muli;
            color: $black;
            text-align: center;
        }
    }
}