.pokelist-container {
    position: relative;
    height: 70vh;
    margin: 1% 3%;
    background: $white;
    border: solid 15px $white;
    border-radius: 25px;
    overflow: hidden;
    overflow-y: scroll;
    clip-path: polygon(0 0, 0 87%, 6% 100%, 100% 100%, 100% 0);

    .container-modal {
        position: fixed;
        background: $orange;
        border: $borderBlack;
        width: 40%;
        height: auto;
        max-height: 70vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 5px 50px;

        display: flex;
        flex-direction: column;

        .wrapper {
            position: absolute;
            margin: 0 auto;
            padding: 1rem;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;

            .close-icon {
                position: absolute;
                right: 0;
                padding: 5px;
                cursor: pointer;
            }

            .basic-info {
                margin: 2% 0 0 0;

                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    flex: 1;
                    max-width: 100px;
                }

                p {
                    position: relative;
                    font-size: 18px;
                    font-family: $muli;
                    font-weight: 900;
                    color: $white;
                }
            }
        }

        .specs {
            margin: 10% 0 0 0;

            display: grid;
            gap: 1rem 2rem;
            grid-template-columns: repeat(auto-fit, minmax(200px, auto));

            p {
                background: $white;
                color: $black;
                font-family: $muli;
                border: $borderBlack;
                border-radius: 10px;
                padding: 1rem;

                display: flex;
                align-items: center;
            }
        }
    }

    .filter-pokemons {
        margin-top: 20px;

        display: flex;
        align-items: center;
    }

    ul {
        padding: 2%;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));

        li {
            font-family: $muli;
            color: $black;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;

            display: flex;
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: $tablet) {
    .pokelist-container {
        .container-modal {
            .specs {
                p {
                    padding: 0.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile) {
    .pokelist-container {
        .container-modal {
            overflow: unset;
            width: unset;
            height: unset;
        }
    }
}
