*{
    margin:0;
    padding:0;
    text-decoration: none;
    outline: none;
}

* a{
  text-decoration: none;
}

.clear {
    clear: both;
}

a{
    text-decoration: none;
}

li{
  list-style-type:none;
}